* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: fantasy;
}
html {
    scroll-behavior: smooth;
}
/* div {
    border:1px solid rgb(5, 62, 198)
} */
/* hr {
    width:80%;
    height: 1px;
    background-color: red;
    border:none;
    position: fixed;
    top:80px;
    left: 10%;
} */
header {
    z-index: 1;
    height: 80px;
    width:100%;
    position:fixed;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content:flex-end;
    border-bottom: 1px solid rgb(226, 63, 91);
}   
header .logo {
    position: fixed;
    left:80px;
    top:25px;
    font-size: 30px;
}
header .logo span{
    color: rgb(226, 63, 91);
}
header .navbar {
    margin-right: 40px;
    display: flex;
    padding: 10px;
}
header .navbar a {
    width: 100px;
    height: 20px;
    padding:10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-right:1px solid black;
    /* background-color: aqua; */
}
header .navbar a:last-child{
    border-right: none;
}
header .navbar a:hover {
    font-size: 20px;
    color:rgb(226, 63, 91);
    transition: 1000ms;
}
header .icon {
    margin-right: 50px;
    height: 20px;
    visibility: hidden;
}
header .icon:hover {
    rotate: 180deg;
    color:rgb(226, 63, 91);
    transition: 1000ms;
}
@media screen and (max-width:900px){
    header .navbar {
       visibility: hidden;
}
header .logo {
    left:120px;
}
header .icon {
    visibility: visible;
    margin-right: 100px;
}
}

/* HOME */
.home {
    z-index:0;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    border-bottom: 1px solid rgb(226, 63, 91);
}
.home .description {
    position: absolute;
    width:auto;
    text-align: end;
    font-weight: bold;
    bottom:200px;
    left:100px;
}
.home .description h4 {
    font-size: 30px;
}
.home .description h2 {
    font-size: 50px;
}
.home .description p {
    font-size:20px ;
    margin-bottom: 20px;
}
.home .description span {
    color: rgb(226, 63, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.home .description p span {
    font-size: 20px;
}
.home .description .cv {
    text-align: center;
    background-color: rgb(226, 63, 91);
    width: 100px;
    height: 20px ;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}
.home .description .cv:hover {
    background-color: black;
    color:rgb(226, 63, 91) ;
}
.home-pic {
    position: absolute;
    bottom:150px;
    right:20%;
    height: 350px;
    width: 350px;
    border-radius:50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border:5px solid rgb(226, 63, 91);

}
.home-pic img {
    height:auto;
    width:350px;
}
@media  screen and (max-width:700px) {
    .home .description {
        left: 50px;
        text-align: left;
    }
    .home .home-pic {
        right: 50px;
        top:150px;
        width: 150px;
        height: 150px;
    }
    .home .home-pic img {
        width: 150px;
        height: auto;
    }
}
@media  screen and (min-width:700px) and (max-width:980px){
    .home .description {
        left: 50px;
        text-align: left;
    }
    .home .home-pic {
        right: 50px;
        top:150px;
        width: 250px;
        height: 250px;
    }
    .home .home-pic img {
        width: 250px;
        height: auto;
    }
}
@media  screen and (min-width:980px) and (max-width:1300px){
    .home .description {
        left: 100px;
    }
    .home .home-pic {
        right: 8%;
        width: 300px;
        height: 300px;
    }
    .home .home-pic img {
        width: 300px;
        height: auto;
    }
}

/* ABOUT */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(226, 63, 91);
}
.about h1 {
    color:rgb(226, 63, 91);
    margin-bottom: 20px;
}
.about p {
    margin: 0 50px 0 50px;
}
.about p span {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
@media  screen and (min-width:700px) and (max-width:980px){
    .about h1 {
        font-size:30px;
    }
    .about p {
        font-size: 18px;
    }  
}
@media  screen and (min-width:980px){
    .about h1 {
        font-size:40px;
    }
    .about p {
        font-size: 20px;
    } 
}